html{
	font-size: 100px;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	-webkit-user-select: none;
	position: relative;
}
.loading,.phone,.message,.cube,.swiper{
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
/*loading*/
.loading{
	display: none;
	background:#000000;
}
.loading .title{
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -2.2rem;
	height: 1.4rem;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: .04rem;
}
.loading .title h1{
	font-size: .5rem;
	height: .75rem;
	margin-bottom: .2rem;
	line-height: .75rem;
}
.loading .title h2{
	font-size: .26rem;
	height: .45rem;
}
.loading .progress{
	position: absolute;
	top:50%;
	left: 50%;
	width: 4.6rem;
	height: .3rem;
	margin: .85rem 0 0 -2.3rem ;
	background: #FFFFFF;
	border-radius: .06rem;
}
.loading .progress .progressBox{
	width: 0;
	height: 100%;
	border-radius: .06rem;
	background:  linear-gradient(45deg,#5cb85c 25%,#74c274 25%,#74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%);
	background:  -webkit-linear-gradient(45deg,#5cb85c 25%,#74c274 25%,#74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%);
	background-size: .3rem 0.3rem;
	-webkit-animation: loadingMove 1s linear infinite both ;
	animation: loadingMove 1s linear infinite both ;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
}
