html {
	font-size: 100px;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	z-index: -3;
	-webkit-user-select: none;
	position: relative;
}

.loading,
.phone,
.message,
.cube,
.swiper {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}


/*loading*/

.loading {
	display: none;
	background: #000000;
}

.loading .title {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -2.2rem;
	height: 1.4rem;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: .04rem;
}

.loading .title h1 {
	font-size: .5rem;
	height: .75rem;
	margin-bottom: .2rem;
	line-height: .75rem;
}

.loading .title h2 {
	font-size: .26rem;
	height: .45rem;
}

.loading .progress {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4.6rem;
	height: .3rem;
	margin: .85rem 0 0 -2.3rem;
	background: #FFFFFF;
	border-radius: .06rem;
}

.loading .progress .progressBox {
	width: 0;
	height: 100%;
	border-radius: .06rem;
	background: linear-gradient(45deg, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%);
	background: -webkit-linear-gradient(45deg, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%);
	background-size: .3rem 0.3rem;
	-webkit-animation: loadingMove 1s linear infinite both;
	animation: loadingMove 1s linear infinite both;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
}


/*phone*/

.phone {
	background: url(../img/zf_phoneBg.jpg) no-repeat;
	background-size: cover;
	z-index: -2;
	transition: all .8s;
	-webkit-transition: all .8s;
}

.phone audio {
	display: none;
}

.phone h2 {
	position: absolute;
	width: 2.62rem;
	height: 1.25rem;
	top: .5rem;
	left: 50%;
	margin-left: -1.31rem;
}

.phone h2 img {
	width: 100%;
	height: 100%;
}

.phone .time {
	display: none;
	position: absolute;
	height: .3rem;
	width: 100%;
	font-size: .3rem;
	letter-spacing: 0.05rem;
	top: 1.85rem;
	text-align: center;
	line-height: .3rem;
	color: #FFFFFF;
}

.phone .listen {
	position: absolute;
	width: 5.2rem;
	height: 3.6rem;
	left: 50%;
	margin-left: -2.6rem;
	bottom: .3rem;
	background: url(../img/zf_phoneListen.png) no-repeat;
	background-size: 100% 100%;
}

.phone .listen div {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	right: -0.06rem;
	border-radius: 50%;
	bottom: .47rem;
}

.phone .listen .move {
	border: .03px solid #0f0;
	-webkit-animation: phoneMove 1s linear infinite both;
	animation: phoneMove 1s linear infinite both;
	z-index: -1;
}

.phone .details {
	position: absolute;
	width: 5.2rem;
	height: 6.59rem;
	bottom: .3rem;
	left: 50%;
	margin-left: -2.6rem;
	background: url(../img/zf_phoneDetail.png) no-repeat;
	background-size: 100% 100%;
	-webkit-transform: translateY(7rem);
	transform: translateY(7rem);
	-webkit-transition: all .8s;
	transition: all .8s;
}

.phone .details .touch {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	bottom: .28rem;
	left: 50%;
	margin-left: -0.8rem;
	background-size: 100% 100%;
	z-index: 5;
}


/*message*/

.message {
	background-color: #eaeaea;
}

.message .messageList {
	margin-top: .2rem;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.message .messageList li {
	position: relative;
	max-width: 3.6rem;
	margin-bottom: .4rem;
	padding: .25rem;
	line-height: .4rem;
	font-size: .26rem;
	border-radius: .1rem;
	/*开始的时候让每个消息都向下移动1rem,到时候用js控制，显示谁 谁就回归到0rem,这样的话每个消息出来都会有个小过渡动画*/
	-webkit-transform: scaleY(1rem);
	transform: scaleY(1rem);
	opacity: 1;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.message .messageList li.student {
	float: left;
	margin-left: 1.25rem;
	background-color: #FFFFFF;
	border: .02rem solid #CACACA;
}

.message .messageList li.teacher {
	float: right;
	margin-right: 1.25rem;
	background-color: #a2e45c;
	border: .02rem solid #96b474;
}

.message .messageList li em {
	position: absolute;
	width: .1rem;
	height: .2rem;
	top: .2rem;
}

.message .messageList li.student em {
	background: url(../img/zf_messageArrow1.png) no-repeat;
	background-size: 100% 100%;
	left: -.1rem;
}
.message .messageList li.teacher em{
	background: url(../img/zf_messageArrow2.png) no-repeat;
	background-size: 100% 100%;
	right: -.1rem;
}
.message .messageList li img{
	position: absolute;
	width: .82rem;
	height: .82rem;
	top: 0;
	border-radius: 50%;
}
.message .messageList li.student img{
	left: -1rem;
}
.message .messageList li.teacher img{
	right: -1rem;
}
